<form class="form-horizontal model-editor" method="post" enctype="multipart/form-data" id="channel-editor"
      data-target="channel">
    <fieldset>
        <a name="basic-info"></a>
        <legend>基础信息</legend>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="company_name">公司名称</label>
            <div class="col-sm-10">
                <input name="company_name" id="company_name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="user">联系人</label>
            <div class="col-sm-10">
                <input name="user" id="user" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">联系地址</label>
            <div class="col-sm-10">
                <input name="address" id="address" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="comment">备注</label>
            <div class="col-sm-10">
                <input name="comment" id="comment" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">邮件报备　</label>
            <div class="col-sm-10">
                <input name="email" id="email" class="form-control"/>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="alert alert-msg" style="display: none;"></div>
            <button class="btn btn-block btn-lg btn-primary"><i class="fa fa-save"></i> 提交</button>
        </div>
    </div>
</form>